html {
    font-size: 10px;
    scrollbar-width: none;

}

body {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
}

.homepage {
    height: 100vh;
    width: 100%;
    background-color: lightskyblue;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
}

.profilePicture {
    height: 20rem;
    width: 20rem;
    margin-top: 4rem;
    border: 1rem solid lightsalmon;
    border-radius: 50%;
    grid-template: "icon";
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.75);
    
}

.title {
    font-size: 6rem;
    grid-template: "title";
    filter: drop-shadow(.5rem .5rem .5rem pink);
}

.description {
    text-align: center;
    background-color: lightsalmon;
    box-shadow: .5rem .5rem 1rem black;
}

.skills {
    height: 100vh;
    width: 100%;
    background-color: lightcoral;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.skill {
    height: 4rem;
    width: 50%;
    background-color: black;
    border-radius: 5rem;
    border: 1rem solid black;
    box-shadow: .5rem .5rem 1rem black;
}

.skill.animate > .skillBar{
    width: 100%;
}
.skillBar {
    height: 100%;
    width:  10%;
    background-color: greenyellow;
    transition: width 1s;
    border-radius: 5rem;
}

.projects {
    height: 100vh;
    width: 100%;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5rem;
    justify-items: center;
    justify-content: space-around;
}

@media(max-width: 1000px) {
    .projects {
        grid-template-columns: 1fr 1fr;
    }
}
.project {
    margin-top: 1rem;
    width: 25rem;
    height: 25rem;
    background-color: pink;
    border-radius: 50%;
    border: 1rem solid lightsalmon;
    box-shadow: 1rem 1rem .1rem black;
    transition: all 1s;
    display: flex;
    justify-content: center;
}

.project:hover {
    box-shadow: 1rem 1rem 3rem salmon;
}


footer {
    height: 5rem;
    width: 100%;
    background-color: darkcyan;
}
